/*  Style  */

.margin_top{
    @apply md:mt-[6.25rem] mt-[0];
}
/* Slick Slider */
.slick-slide, .portfolio_slide{
    @apply focus-visible:!outline-0;
}
.slick-dots li.slick-active button:before{
    @apply !opacity-100 !text-primary !w-4 !h-4;
}
.slick-dots li button:before{
    @apply !text-base !text-[#BBC8D5] !opacity-100;
}


/*  */

::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.swiper-buttons {
  top: -70px;
  z-index: 10; 
  position: relative;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -50px) !important;
    left: auto !important;
}
.swiper-buttons .left-btn {
  left: -100px !important;    
}

.swiper-buttons .right-btn {
  right: -100px !important;   
}


